* {
  user-select: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin:0;
}

#app-container {
  min-height:100vh;
  margin:0;
  overflow:hidden;
}

.can-be-clicked:hover {
  cursor: pointer;
}

.highlighted-lightgray-on-hover:hover {
  background-color: lightgray;
}

.highlighted-gray-on-hover:hover {
  background-color: gray;
  color: white;
}